version: '3'

services:
  lyra:
    build:
      context: ./
    container_name: lyra
    hostname: gotenks
    restart: always
    networks:
      - bridge
    ports:
      - "3201:80"
    cpuset: "0-5"
    mem_limit: "16g"
    extra_hosts:
      - "localmachine:172.17.0.1"

networks:
  bridge:
    driver: bridge
